* {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
}
:root {
  --font: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: rgba(0, 4, 15, 1) no-repeat;

  overflow-x: hidden;
}

#app {
  padding: 0 135px;
}
header {
  padding: 0 135px;
}
.nav_bar {
  background: transparent;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 30px;
  color: rgb(255, 255, 255);
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
}
.logo p {
  color: rgba(92, 225, 230, 1);
}
.nav_link {
  display: flex;
  gap: 8rem;
}
.menu-icon {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  background: none;
  border: none;
  right: 0;
  object-fit: contain;
}
.menu-icon img {
  width: 30px;
  height: 30px;
  transition: 1s;
}
.link-btn {
  padding: 1px 3px;
}
.nav_link a {
  color: rgb(255, 255, 255);
  text-decoration: none;

  transition: 100ms;
  border-radius: 10px;
  height: 25px;
}
.nav_link a:hover {
  color: black;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
.nav_link:hover > a:not(:hover) {
  background: none;
}

.ellipse-parent {
  width: 100%;
  position: absolute;
  z-index: -2;
}
.ellipse {
  width: 600px;
  height: 660px;
  /* border-radius: 100% ; */
  bottom: 10%;
  /* background: rgba(255, 255, 255, 0.356);
  box-shadow: 0px 0px 660px 50px rgba(255, 255, 255, 0.356); */
  position: absolute;
  left: -200px;
  rotate: -140deg;
  z-index: -3;
}

#home-main {
  margin-bottom: 150px;
}
.home {
  display: flex;
  flex-wrap: wrap;
}

.home-left_discount {
  margin-top: 150px;
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  width: 408px;
  height: 40px;
  top: 249px;
  left: 135px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home-left_discount p {
  font-family: var(--font);

  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  word-spacing: 0.2rem;
  color: #555555;
}
.home-left_discount p span {
  color: white;
}

.home-get-started_icon {
  position: relative;
  right: 5rem;
  float: right;
}
.home-left-title {
  margin-top: 2rem;
  width: 670px;
  color: rgb(255, 255, 255);
  font-family: var(--font);
  align-items: flex-start;
}
.home-left-title span {
  font-size: 72px;
  font-weight: 600;
  line-height: 101px;
  letter-spacing: 0.01em;
  text-align: left;
}
.home-left-title span b {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.home-left-title .home-left-title_content {
  display: flex;
  flex-direction: column;

  width: 483px;
  height: 93px;
  margin-top: 2rem;
  align-items: flex-start;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.hero-img {
  position: absolute;
  top: -150px;
  right: 0;
  height: 1000px;
  width: 850px;
  object-fit: contain;
  z-index: -10;
}

.ellipe-parent{
  overflow: hidden;
}
.home-details-footer {
  margin-top: 150px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font);
  font-size: 41px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}
.home-details-footer b {
  font-family: var(--font);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;

  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.home-details-footer span {
  height: 13.63px;
  border: 1.7px solid rgba(255, 255, 255, 0.6);
}

.aboutUs {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(5px);
}

.about-first {
  display: flex;
  justify-content: space-between;
}
.about-first-left-title_and_description {
  color: rgb(255, 255, 255);
  font-family: var(--font);
  width: 622px;
  height: 154px;
}
.about-first-left-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0.01em;
  text-align: left;
}
.about-first-left-description {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 60px;
  margin-bottom: 60px;
}
.about-btn-get_started {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  width: 170px;
  height: 64px;

  border-radius: 10px;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.about-first-right {
  display: grid;

  font-family: var(--font);
}
.about-first-right-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  height: 383px;
  width: 470px;
}
.about-first-right-description {
  width: 366px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.about-first-right-details .icon {
  width: 64px;
  height: 64px;
  margin: 20px;
}
.about-first-right-reward {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: left;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}
.about-first-right-reward:hover {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0.514) -341.94%,
    #14101d 95.11%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
.about-first-right-secured {
  cursor: pointer;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: left;
  border-radius: 20px;
}
.about-first-right-secured:hover {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0.514) -341.94%,
    #14101d 95.11%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
.about-first-right-transfer-balance {
  cursor: pointer;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: left;
  border-radius: 20px;
}

.about-first-right-transfer-balance:hover {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0.514) -341.94%,
    #14101d 95.11%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.about-second {
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}
.about-second-left-payment_and_transaction {
  color: white;
}
.about-second-left-payment_way {
  display: flex;
  font-family: var(--font);
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.01em;
  background: linear-gradient(110.53deg, #ffffff -265.46%, #14101d 96.75%);
  box-shadow: 4px 6px 30px 0px rgba(19, 36, 46, 0.25);
  width: 227px;
  height: 216px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-second-left-payment_way .about-second-left-paypal {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  padding: 10px;
  background: rgb(255, 255, 255);
}
.about-second-left-payment_way .about-second-left-paypal img {
  width: 28px;
  height: 28px;
}
.about-second-left-payment_way .about-second-left-payment_bank p:last-child {
  font-family: var(--font);
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
}
.about-second-left-payment_way span {
  display: flex;
  gap: 15px;
}
.about-second-left-payment_way .about-second-left-total_and_change {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-second-left-payment_way .about-second-left-total_and_change p {
  position: relative;
  font-family: var(--font);

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  float: left;
  margin-right: 10px;
}
.about-second-left-payment_way
  .about-second-left-total_and_change
  .about-second-left-total {
  background: rgba(85, 85, 85, 0.151) fff;
}

.about-second-left-payment_way .about-second-left-total_and_change p b {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-right: 25px;
}
.about-second-left-payment_way .about-second-left-total_and_change button {
  margin-left: 25px;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: 70.87px;
  height: 33px;

  border-radius: 5px;
  border-color: #33bbcf;
}
.about-second-left-payment_make {
  width: 187.97px;
  height: 33px;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );

  border-radius: 10px;
}

.about-second-left-last_transaction_screen {
  width: 295px;
  height: 240px;
  border-radius: 9.12px;
  padding: 40px;
  background: linear-gradient(113.08deg, #ffffff -242.51%, #14101d 85.56%);
  box-shadow: -0.24321705102920532px -0.24321705102920532px 0.364825576543808px 0px
    rgba(0, 0, 0, 0.36) inset;
  font-family: var(--font);
  display: grid;
  align-items: stretch;
}
.Ellipse-2358 {
  position: absolute;
  top: 97vh;
  width: 300px;
  scale: 1;
  z-index: -5;
  filter: brightness();
}
.about-second-left-last_transaction_screen b {
  font-family: var(--font);
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.about-second-left-last_transaction_to_and_from {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-second-left-last_transaction_to_and_from_name {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
}
.about-second-left-last_transaction {
  display: grid;
}
.about-second-left-last_transaction_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.company_icon-1 {
  background: rgba(231, 77, 137, 1);
}
.company_icon-2 {
  background: rgb(255, 255, 255);
}
.company_icon-3 {
  background: rgba(223, 255, 240, 1);
}

.about-second-left-last_transaction_date {
  color: rgba(255, 255, 255, 0.7);

  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
.about-second-left-payment_success_notice {
  position: relative;
  right: -220px;
  top: -25px;
  background: rgba(255, 255, 255, 1);
  color: #11101d;
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 324px;
  height: 54px;

  border-radius: 10px;
}
.about-second-left-payment_screen {
  position: relative;
  right: -260px;
  bottom: -70px;
}

.about-second-right {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 455px;
  width: 470px;
}

.about-second-right-download_title {
  color: white;
  font-family: var(--font);
  font-size: 48px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0.01em;
}
.about-second-right-download_description {
  color: rgba(255, 255, 255, 0.437);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.01em;
}
.about-second-right-download_link {
  display: flex;
  gap: 2rem;
}
#features {
  margin-top: 100px;
  padding: 50px 0;
  height: 449px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-left {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.feature-left-title {
  width: 570px;
  color: white;
  font-family: var(--font);
  font-size: 48px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0.01em;
  text-align: left;
}
.feature-left-description {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.feature-left-btn {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  width: 170px;
  height: 64px;
  border-radius: 10px;
  border-color: #33bbcf;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.feature-right {
  display: flex;
  flex-direction: column;
  width: 381px;
  height: 381px;
}
.feature-right-bg_ellipse-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 270px;
  position: relative;
  bottom: -200px;
}
.feature-right-bg_ellipse-main img:nth-child(1) {
  position: absolute;
  z-index: -5;
}
.feature-right-bg_ellipse-main img:nth-child(2) {
  position: absolute;
  z-index: -5;
}
.feature-right-bg_ellipse-main img:nth-child(3) {
  position: absolute;
  z-index: -5;
}

.feature-right-analysis {
  position: relative;
  top: 60px;
  right: -60px;
  width: 236px;
  height: 218px;
  background: linear-gradient(140.32deg, #ffffff -277.16%, #14101d 66.28%);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature-right-analysis-title_and_time {
  display: flex;
  justify-content: space-between;
}

.feature-right-analysis-title_and_time .feature-right-analysis-title {
  color: white;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.feature-right-analysis-title_and_time select {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 1);

  font-family: var(--font);
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
}
.feature-right-analysis-title_and_time select option {
  color: rgba(255, 255, 255, 0.52);
  font-family: var(--font);
  background: #000;
}
.feature-right-analysis-income_and_expenses {
  display: flex;
  justify-content: space-between;
  font-family: var(--font);
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.feature-right-analysis-income_and_expenses p {
  display: flex;
  flex-direction: column;
}
.feature-right-analysis-income_and_expenses p span {
  font-size: 9px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}
.feature-right-analysis-income_and_expenses p:nth-child(1) {
  color: #00f5a0;
}
.feature-right-analysis-income_and_expenses p:nth-child(2) {
  color: #00d9f5;
}
.feature-right-analysis-graph_img {
  height: 65px;
}
.feature-right-analysis-graph {
  width: 215px;
  height: 63px;
}
.feature-right-analysis-graph2 {
  width: 108px;

  position: relative;
  left: 77px;
  top: -40px;
}
.feature-right-analysis-days {
  display: flex;
  justify-content: space-between;
  font-family: var(--font);
}
.feature-right-analysis-days p {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 3px;
  height: 21px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.feature-right-analysis-days p:is(:hover) {
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  color: #000;
}
.feature-right-scan_cards {
  background: linear-gradient(
    121.51deg,
    #ffffff -264.89%,
    #6d6d6d -77.96%,
    #11101d 80.93%
  );
  padding: 20px;
  width: 171px;
  height: 138px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -210px;
  top: -90px;
}
.feature-right-scan_cards img {
  background: #000;
  border-radius: 10px;
  width: 24px;
  height: 24px;

  padding: 5px;
}
.feature-right-scan_cards-title {
  font-family: var(--font);

  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: center;

  color: white;
}
.feature-right-scan_cards-description {
  font-family: var(--font);
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.feature-right-pay_method {
  background: linear-gradient(140.32deg, #ffffff -277.16%, #14101d 66.28%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 262px;
  height: 110px;
  padding: 20px 20px;
  border-radius: 20px;
  position: relative;
  left: -100px;
}
feature-right-pay_method img {
  width: 24px;
  height: 24px;
}

.feature-right-pay_method_selector {
  display: flex;
  justify-content: space-between;
}
.feature-right-pay_method_selector select {
  appearance: none;
  background: none;
  border: none;
  color: white;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: center;
}
.feature-right-pay_method_selector option {
  background: rgb(0, 0, 0);
  backdrop-filter: blur(35px);
}

.feature-right-pay_method_gate-section {
  display: flex;
  justify-content: space-between;
}
.feature-right-pay_method_gate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background: white;
}

.feature-right-pay_method_gate img {
  width: 32px;
  height: 32px;
}
#solution {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}
.solution-section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.solution-title {
  font-family: var(--font);
  font-size: 48px;
  font-weight: 600;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  width: 470px;
  height: 164px;
  text-wrap: balance;
}
.solution-description {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  width: 450px;
  height: 64px;
  padding-right: 100px;
  text-wrap: balance;
}
.solution-section-2 {
  display: flex;
  gap: 20px;
}
.solution-section-2-cards {
  font-family: var(--font);
  width: 320px;
  height: 325px;
  padding: 70px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.solution-section-2-cards:is(:hover) {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
.solution-section-2-cards .quotes-image {
  width: 42.6px;
  height: 27.6px;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.solution-section-2-card-user {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(255, 255, 255);
}
.solution-section-2-card_comment {
  color: white;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  text-wrap: balance;
}
.solution-section-2-card-user .solution-section-2-card-user_position {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.398);
}
.solution-section-2-card-user img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
.solution-section-3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 100px;
}
.solution-section-3-services_brands {
  display: flex;
  justify-content: space-between;
}
.solution-section-3-services_brands img {
  object-fit: contain;
}
.solution-section-3-service-trial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font);
  justify-content: space-between;
  background: linear-gradient(
    188.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  border-radius: 20px;
  width: unset;
  height: 93px;
  padding: 100px;
}
.solution-section-3-service-trial-title {
  color: white;
  width: 670px;
  height: 67px;
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  text-wrap: balance;
  margin-bottom: 15px;
}
.solution-section-3-service-trial-description {
  color: rgba(255, 255, 255, 0.7);
  width: 445px;
  height: 58px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: left;
  text-wrap: balance;
}
.solution-section-3-service-trial-btn {
  width: 170px;
  height: 64px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  border-radius: 10px;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0 135px;
}
footer span {
  font-family: var(--font);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .footer-company {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.footer-company_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font);
  font-size: 41px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0em;
}
.footer-company_logo img {
  width: 72px;
  height: 72px;
}
.footer-company_logo p {
  color: rgba(92, 225, 230, 1);
}
.footer-company-description {
  font-family: var(--font);
  padding-left: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  width: 312px;
  height: 64px;
  text-wrap: balance;
}
.footer-useful_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-useful_links b {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}
.footer-useful_links a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-Community {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-Community b {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 5px;
}
.footer-Community a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-partners {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-partners b {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}
.footer-partners a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-line {
  display: block;
  width: 1170px;
  height: 1px;
  margin: 40px 31px;
  background: rgba(63, 62, 69, 1);
}
.footer-company-copyright_and_social_media {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.footer-company-copyright {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-company-copyright::first-letter {
  font-family: Abel;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.footer-company-social_media {
  display: flex;
  gap: 30px;
}
.footer-company-social_media a {
  text-decoration: none;
}
.footer-company-social_media img {
  width: 21px;
  height: 21px;
}

@media (max-width: 700px) {
  body {
    padding: 0 14px;
    box-sizing: border-box;
  }
  #app {
    padding: 0 0px;
    flex-direction: column;
    /* overflow: hidden; */
  }
  header {
    max-width: 400px;
    min-width: 360px;
    padding: 0;
  }
  .nav_bar {
    background: transparent;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    list-style: none;
    max-width: 414px;
    min-width: 360px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    position: absolute;
    left: 14px;
    height: 2rem;
    font-family: var(--font);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
  }
  .logo p {
    color: rgba(92, 225, 230, 1);
  }
  .nav_link {
    display: flex;
    position: absolute;
    top: 35px;
    right: 1%;
    flex-direction: column;
    gap: 0.1rem;
    padding-top: 20px;
    color: white;
    border: #074e57 2px solid;
    border-radius: 20px 0 0px 20px;
    backdrop-filter: blur(10px);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: -20px;

    color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
  }

  .link-btn {
    color: white;
    display: none;
    padding: 1px 3px;
  }
  .nav_link a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 100ms;
    border-radius: 10px;
    height: 25px;
  }
  .nav_link a {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-color: transparent;

    color: black;

    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
  }
  .nav_link:hover > a:not(:hover) {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
  }

  .ellipse-parent {
    position: absolute;
    z-index: -20;
    overflow: hidden;
  }
  .ellipse {
    width: 200px;
    height: 260px;
    bottom: 10%;

    position: absolute;
    left: -200px;
    rotate: -140deg;
    z-index: -3;
  }

  #home-main {
    margin-bottom: 150px;
    height: 140vh;
    overflow: hidden;
  }

  .home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: unset;
  }

  .home-left {
    max-width: unset;
  }
  .home-left_discount {
    margin-top: 90px;
    background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
    max-width: 330px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .home-left_discount p {
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    word-spacing: 0.1rem;
    color: #555555;
  }
  .home-left_discount p span {
    color: rgb(255, 254, 254);
  }
  .home-get-started_icon img {
    position: relative;
    top: 100px;
    right: -30px;
    width: 80px;
  }

  .home-left-title {
    margin-top: 30px;
    width: 350px;
    color: rgb(255, 255, 255);
    font-family: var(--font);
  }
  .home-left-title span {
    font-size: 45px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.01em;
    text-align: left;
    text-wrap: balance;
  }
  .home-left-title span b {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .home-left-title .home-left-title_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-wrap: balance;
    width: 360px;
    height: 93px;
    margin-top: 16px;
    align-items: flex-start;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
  }

  .hero-img {
    margin-top: 400px;
    right: -0px;
    width: 500px;
    z-index: -2;
  }

  .home-details-footer {
    margin-top: 600px;
    flex-wrap: wrap;
    width: unset;
    min-width: 320px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 2px;
  }
  .home-details-footer b {
    display: flex;
    font-family: var(--font);
    font-size: 13px;
  }

  #aboutUs {
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .about-first {
    flex-direction: column;
    gap: 280px;
  }
  .about-first-left {
    max-width: 360px;
    min-width: 350px;
  }
  .about-first-left-title_and_description {
    max-width: 360px;
    min-width: 340px;
    height: 154px;
    text-wrap: balance;
  }
  .about-first-left-title {
    max-width: 340px;
    font-size: 33px;
    font-weight: 600;
    line-height: 42px;
    text-wrap: balance;
  }
  .about-first-left-description {
    max-width: 390px;

    text-align: left;
    text-wrap: balance;

    margin-top: 20px;
    margin-bottom: 20px;
  }
  .about-btn-get_started {
    width: 170px;
    height: 64px;
  }

  .about-first-right {
    display: grid;

    font-family: var(--font);
  }
  .about-first-right-details {
    width: unset;
  }
  .about-first-right-description {
    text-wrap: balance;
    font-size: 16px;

    max-width: 280px;
    width: 270px;
    min-width: 200px;
  }

  .about-first-right-details .icon {
    width: 44px;
    height: 44px;
    margin: 10px 10px 10px 0px;
  }
  .about-first-right-reward {
    max-width: 350px;
    min-width: 330px;

    font-size: 16px;

    line-height: 20px;

    height: 100px;
    padding-bottom: 20px;
  }
  .about-first-right-reward:hover {
    background: linear-gradient(
      153.47deg,
      rgba(255, 255, 255, 0.514) -341.94%,
      #14101d 95.11%
    );
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  }
  .about-first-right-secured {
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
    border-radius: 20px;
    height: 100px;
    max-width: 350px;
    min-width: 330px;
    padding-bottom: 20px;
  }
  .about-first-right-secured:hover {
    background: linear-gradient(
      153.47deg,
      rgba(255, 255, 255, 0.514) -341.94%,
      #14101d 95.11%
    );
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  }
  .about-first-right-transfer-balance {
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
    border-radius: 20px;
    height: 100px;
    max-width: 350px;
    min-width: 330px;
    padding-bottom: 20px;
  }

  .about-first-right-transfer-balance:hover {
    background: linear-gradient(
      153.47deg,
      rgba(255, 255, 255, 0.514) -341.94%,
      #14101d 95.11%
    );
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  }
  .about-second {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-second-left-payment_way {
 
    position: relative;
   right: 90px;
    display: flex;
    font-family: var(--font);
    font-size: 22px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.01em;
    background: linear-gradient(110.53deg, #ffffff -265.46%, #14101d 96.75%);
    box-shadow: 4px 6px 30px 0px rgba(19, 36, 46, 0.25);
    width: 180px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .about-second-left-payment_way .about-second-left-paypal {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    padding: 10px;
    background: rgb(255, 255, 255);
  }
  .about-second-left-payment_way .about-second-left-paypal img {
    width: 26px;
    height: 26px;
  }
  .about-second-left-payment_way .about-second-left-payment_bank p:last-child {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.7);
  }
  .about-second-left-payment_way span {
    display: flex;
    gap: 15px;
  }
  .about-second-left-payment_way .about-second-left-total_and_change {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-second-left-payment_way .about-second-left-total_and_change p {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
  }
  .about-second-left-payment_way
    .about-second-left-total_and_change
    .about-second-left-total {
    background: rgba(85, 85, 85, 0.151);
  }

  .about-second-left-payment_way .about-second-left-total_and_change p b {
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-right: 25px;
  }
  .about-second-left-payment_way .about-second-left-total_and_change button {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 50.87px;
    height: 33px;
    border-radius: 5px;
    border-color: #33bbcf;
  }
  .about-second-left-payment_make {
    width: 137.97px;
    height: 33px;
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
    border-radius: 10px;
  }

  .about-second-left-last_transaction_screen {
    width: 245px;
    height: 240px;
    border-radius: 9.12px;
    padding: 25px 15px;
    background: linear-gradient(113.08deg, #ffffff -242.51%, #14101d 85.56%);
    box-shadow: -0.24321705102920532px -0.24321705102920532px 0.364825576543808px
      0px rgba(0, 0, 0, 0.36) inset;
    font-family: var(--font);
    display: grid;
  }
  .Ellipse-2358 {
    left: -14px;
    position: absolute;
    z-index: -5;
  }
  .about-second-left-last_transaction_screen b {
    font-family: var(--font);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
  }
  .about-second-left-last_transaction_to_and_from {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-second-left-last_transaction_to_and_from_name {
    display: grid;
    grid-template-columns: 1fr 2fr;

    gap: 0;
  }
  .about-second-left-last_transaction {
    display: grid;
  }
  .about-second-left-last_transaction_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .company_icon-1 {
    margin-right: 13px;
  }
  .company_icon-2 {
    margin-right: 13px;
  }

  .about-second-left-last_transaction_date {
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
  }
  .about-second-left-payment_success_notice {
    position: relative;
    right: -15px;
    top: -25px;
    background: rgba(255, 255, 255, 1);
    color: #11101d;
    font-family: var(--font);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 314px;
    height: 44px;
    border-radius: 10px;
  }
  .about-second-left-payment_screen {
    margin-right: 10px;
  }

  .about-second-right {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 455px;
    width: unset;
  }

  .about-second-right-download_title {
    color: white;
    font-family: var(--font);
    font-size: 43px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.01em;
  }
  .about-second-right-download_description {
    color: rgba(255, 255, 255, 0.437);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    width: unset;
    letter-spacing: 0.01em;
    text-wrap: balance;
  }
  .about-second-right-download_link {
    display: flex;
    gap: 2rem;
  }
  #features {
    margin-top: 70px;
    padding: 50px 0;
    height: unset;
    display: grid;
    overflow: hidden;

    align-items: center;
  }
  .feature-left {
    display: flex;
    flex-direction: column;
    width: 340px;
    justify-content: space-between;
    gap: 30px;
  }

  .feature-left-title {
    max-width: 360px;
    width: 340px;
    min-width: 300px;
    color: white;
    font-family: var(--font);
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0.01em;
    text-align: left;
    text-wrap: balance;
  }
  .feature-left-description {
    max-width: 360px;
    min-width: 300px;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    text-wrap: balance;
  }
  .feature-left-btn {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
    width: 170px;
    height: 64px;
    border-radius: 10px;
    border-color: #33bbcf;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 130px;
  }
  .feature-right {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: unset;
    height: unset;
    overflow: hidden;
  }
  .feature-right-bg_ellipse-main {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 110px;
    position: relative;
  }
  .feature-right-bg_ellipse-main img:nth-child(1) {
    position: absolute;
    z-index: -5;
  }
  .feature-right-bg_ellipse-main img:nth-child(2) {
    position: absolute;
    z-index: -5;
  }
  .feature-right-bg_ellipse-main img:nth-child(3) {
    position: absolute;
    z-index: -5;
  }

  .feature-right-analysis {
    position: relative;
    top: -10px;
    left: 120px;
    right: unset;
    width: 200px;
    height: 218px;
    background: linear-gradient(140.32deg, #ffffff -277.16%, #14101d 66.28%);
    padding: 20px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .feature-right-analysis-title_and_time {
    display: flex;
    justify-content: space-between;
  }

  .feature-right-analysis-title_and_time .feature-right-analysis-title {
    color: white;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }
  .feature-right-analysis-title_and_time select {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 1);

    font-family: var(--font);
    font-size: 9px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
  }
  .feature-right-analysis-title_and_time select option {
    color: rgba(255, 255, 255, 0.52);
    font-family: var(--font);
    background: #000;
  }
  .feature-right-analysis-income_and_expenses {
    display: flex;
    justify-content: space-between;
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }
  .feature-right-analysis-income_and_expenses p {
    margin: 3px 0px;
    display: flex;
    flex-direction: column;
  }
  .feature-right-analysis-income_and_expenses p span {
    font-size: 9px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }
  .feature-right-analysis-income_and_expenses p:nth-child(1) {
    color: #00f5a0;
  }
  .feature-right-analysis-income_and_expenses p:nth-child(2) {
    color: #00d9f5;
  }
  .feature-right-analysis-graph_img {
    height: 66px;
  }
  .feature-right-analysis-graph {
    width: 200px;
    height: 66px;
  }
  .feature-right-analysis-graph2 {
    width: 97px;
    left: 72px;
    position: relative;
  }
  .feature-right-analysis-days {
    display: flex;

    font-family: var(--font);
    width: 200px;
    overflow-x: hidden;
  }
  .feature-right-analysis-days p {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 3px;
    height: 21px;

    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .feature-right-analysis-days p:is(:hover) {
    background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
    color: #000;
  }

  .feature-right-scan_cards {
    background: linear-gradient(
      121.51deg,
      #ffffff -264.89%,
      #6d6d6d -77.96%,
      #11101d 80.93%
    );
    padding: 10px;
    width: 121px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -10px;
    bottom: unset;
    left: unset;
  }
  .feature-right-scan_cards img {
    background: #000;
    border-radius: 10px;
    width: 24px;
    height: 24px;

    padding: 5px;
  }

  .feature-right-scan_cards-title {
    font-family: var(--font);

    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: center;

    color: white;
  }

  .feature-right-scan_cards-description {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  .feature-right-pay_method {
    background: linear-gradient(140.32deg, #ffffff -277.16%, #14101d 66.28%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 262px;
    height: 110px;
    padding: 20px 20px;
    border-radius: 20px;
    position: relative;
    left: 30px;
    right: unset;
  }

  .feature-right-pay_method img {
    width: 24px;
    height: 24px;
  }

  .feature-right-pay_method_selector {
    display: flex;
    justify-content: space-between;
  }
  .feature-right-pay_method_selector select {
    appearance: none;
    background: none;
    border: none;
    color: white;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: center;
  }
  .feature-right-pay_method_selector option {
    background: rgb(0, 0, 0);
    backdrop-filter: blur(35px);
  }

  .feature-right-pay_method_gate-section {
    display: flex;
    justify-content: space-between;
  }
  .feature-right-pay_method_gate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: white;
  }

  .feature-right-pay_method_gate img {
    width: 32px;
    height: 32px;
  }
  #solution {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    overflow: hidden;;
  }
  .solution-section-1 {
    display: grid;

    align-items: center;
  }
  .solution-title {
    font-family: var(--font);
    font-size: 48px;
    font-weight: 600;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    width: unset;
    text-wrap: balance;
  }

  .solution-description {
    margin-top: 90px;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    width: unset;

    padding-right: 0px;
    text-wrap: balance;
  }

  .solution-section-2 {
    display: flex;
    width: unset;
    flex-direction: column;
    gap: 20px;
  }

  .solution-section-2-cards {
    font-family: var(--font);
    width: unset;

    padding: 40px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(
      144.39deg,
      #ffffffde -278.56%,
      rgba(109, 109, 109, 0.585) -78.47%,
      #11101d84 91.61%
    );
  }

  .solution-section-2-cards:is(:hover) {
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }

  .solution-section-2-cards .quotes-image {
    width: 42.6px;
    height: 27.6px;
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .solution-section-2-card-user {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(255, 255, 255);
  }

  .solution-section-2-card_comment {
    color: white;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    text-wrap: balance;
  }
  .solution-section-2-card-user .solution-section-2-card-user_position {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.398);
  }
  .solution-section-2-card-user img {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
  .solution-section-3 {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 100px;
  }
  .solution-section-3-services_brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }
  .solution-section-3-services_brands img {
    width: 140px;
    object-fit: contain;
  }
  .solution-section-3-service-trial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);

    background: linear-gradient(
      188.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
    border-radius: 20px;
    width: unset;
    height: 350px;
    padding: 20px;
  }
  .solution-section-3-service-trial-title {
    color: white;
    max-width: unset;
    width: unset;
    height: unset;
    font-size: 40px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0em;
    text-wrap: balance;
    margin-bottom: 15px;
  }
  .solution-section-3-service-trial-description {
    color: rgba(255, 255, 255, 0.7);
    width: 300px;

    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-align: left;
    text-wrap: balance;
  }
  .solution-section-3-service-trial-btn {
    width: 140px;
    height: 44px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    border-radius: 10px;
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
  }
  footer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  footer span {
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .footer-company {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-company_logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font);
    font-size: 25px;
    font-weight: 600;

    letter-spacing: 0em;
  }
  .footer-company_logo img {
    width: 50px;
    height: 50px;
  }
  .footer-company_logo p {
    color: rgba(92, 225, 230, 1);
  }
  .footer-company-description {
    font-family: var(--font);
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    width: 310px;
    height: 64px;
    text-wrap: balance;
  }
  .footer-useful_links {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }
  .footer-useful_links b {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
  }
  .footer-useful_links a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .footer-Community {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }
  .footer-Community b {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 5px;
  }
  .footer-Community a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .footer-partners {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }
  .footer-partners b {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
  }
  .footer-partners a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .footer-line {
    display: block;
    width: unset;
    height: 1px;
    margin: 20px 0;
    background: rgba(63, 62, 69, 1);
  }
  .footer-company-copyright_and_social_media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
  }
  .footer-company-copyright {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-company-copyright::first-letter {
    font-family: Abel;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }
  .footer-company-social_media {
    display: flex;
    gap: 30px;
  }
  .footer-company-social_media a {
    text-decoration: none;
  }
  .footer-company-social_media img {
    width: 21px;
    height: 21px;
  }
}
